
console.local.benalu.dev {
    tls internal
    file_server browse {
        root ./console
        index index.html
    }
}
sts.local.benalu.dev {
    tls internal
    reverse_proxy localhost:13001
}